<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h2>Bem-vindo, {{ session['usuario'] }}!</h2>

        <div class="info"><strong>Total de Entradas:</strong> R$ {{ entradas | formata_brl }}</div>
        <div class="info"><strong>Total de Saídas:</strong> R$ {{ saidas | formata_brl }}</div>
        <div class="info"><strong>Saldo:</strong> R$ {{ saldo | formata_brl }}</div>

        <a href="/adicionar_entrada" class="btn btn-entrar" style="color: white;">➕ Entrada</a>
        <a href="/adicionar_saida" class="btn btn-cancelar" style="color: white;">➖ Saída</a>
        <a href="/detalhamento" class="btn">📋 Detalhamento</a>
        <br><br>
        <a href="/logout">Sair</a>
    </div>
</body>
</html>
