<!DOCTYPE html>
<html>
<head>
    <title>Editar {{ tipo.capitalize() }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h2>Editar {{ tipo }}</h2>
        <form method="post">
            <label>Descrição:</label><br>
            <input type="text" name="descricao" value="{{ item[0] }}"><br><br>

            <label>Valor (R$):</label><br>
            <input type="number" step="0.01" name="valor" value="{{ item[1] }}"><br><br>

            <input type="submit" value="Salvar" class="btn">
            <a href="{{ url_for('detalhamento') }}" class="btn btn-cancelar">Cancelar</a>
        </form>
    </div>
</body>
</html>
