<!DOCTYPE html>
<html>
<head>
    <title>Adicionar Saída</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h2>Adicionar Saída</h2>
        <form method="POST">
            <label>Descrição:</label><br>
            <input type="text" name="descricao" required><br><br>

            <label>Valor (R$):</label><br>
            <input type="number" name="valor" step="0.01" required><br><br>

            <label for="data">Data:</label>
            <input type="date" name="data" required>

            <input type="submit" value="Salvar" class="button">
        </form>
        <br>
        <a href="/dashboard" class="button">⬅ Voltar</a>
    </div>
</body>
</html>
